<h2><%= @question.title %></h2>
<p>Submitted by <a href='<%= "/users/#{@question.author_id}" %>'><%= @question.author.username %></a></p><br />
<p><%= @question.description %></p>

<% if logged_in? %>
  <p><a href="/questions/<%= @question.id %>/answers/new">Answer this question</a></p>
<% end %>
<% if logged_in? %>
  <p><a href="/questions/<%= @question.id %>/comments/new">Add a comment to question </a></p>
<% end %>
<% unless @question.comments.empty? %>
  <p>Comments</p>
  <ul>
    <% @question.comments.each do |comment| %>
      <li><%= comment.text %> - <a href="/users/<%=comment.commenter.id %>"><%= comment.commenter.username %></a></li>
    <% end %>
  </ul>
<% end %>

<% if @question.best_answer_id %>
  <p>Best answer:</p>
  <p><%= @best_answer.text %></p>
  <p><a href="/users/<%= @best_answer.user.id %>"> - <%= @best_answer.user.username %></a></p>
  <% unless @best_answer.comments.empty? %>
    <p>Comments</p>
    <ul>
      <% @best_answer.comments.each do |comment| %>
        <li><%= comment.text %> - <a href="/users/<%=comment.commenter.id%>"><%= comment.commenter.username %></a></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<%unless @answers.empty?%>
  <p>Answers:</p>
  <ul>
    <% @answers.each do |answer| %>
      <%= erb :'/answers/_answer', locals: {answer: answer} %>
    <% end %>
  </ul>
<%end%>
