<h2><%= @question.title %></h2>
<p>Submitted by <a href='<%= "/users/#{@question.author_id}" %>'><%= @question.author.username %></a></p><br />
<p><%= @question.description %></p>

<% if logged_in? %>
  <p><a href="/questions/<%= @question.id %>/answers/new">Answer this question</a></p>
<% end %>

<% unless @question.comments.empty? %>
  <p>Comments</p>
  <ul>
    <% @question.comments.each do |comment| %>
      <li><%= comment.text %> - <a href="/users/<%=comment.commenter.id %>"><%= comment.commenter.username %></a></li>
    <% end %>
  </ul>
<% end %>

<%unless @answers.empty?%>
  <ul>
    <p>Answers</p>
    <% @answers.each do |answer| %>
    <li><p><%=answer.text%></p>
      <p> <a href="/users/<%= answer.user.id %>"> - <%= answer.user.username %></a></p></li>
      <% if logged_in? %>
      <p><a href="/questions/<%= answer.question_id %>/answers/<%= answer.id %>/comments/new">Add a comment to answer </a></p>
      <% end %>
      <% unless answer.comments.empty? %>
        <p>Comments on Answer</p>
        <ul>
          <% answer.comments.each do |comment| %>
            <li><%= comment.text %> - <a href="/users/<%=comment.commenter.id%>"><%= comment.commenter.username %></a></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </ul>
<%end%>
