<h2><%= @question.title %></h2>
<p>Submitted by <a href='<%= "/users/#{@question.author_id}" %>'><%= @question.author.username %></a></p><br />
<p><%= @question.description %></p>

<% unless @question.comments.empty? %>
  <p>Comments</p>
  <ol>
    <% @question.comments.each do |comment| %>
      <li><%= comment.text %> - <a href="/users/<%=comment.commenter.id %>"><%= comment.commenter.username %></a></li>
    <% end %>
  </ol>
<% end %>


<%unless @answers.empty?%>
  <ol>
    <p>Answers</p>
    <% @answers.each do |answer| %>
    <li><p><%=answer.text%></p>
      <p> <a href="/users/<%=%>"> - <%= answer.user.username %></a></p></li> 
      <% unless answer.comments.empty? %>
        <p>comments</p>
        <ol>
          <% answer.comments.each do |comment| %>
            <li><%= comment.text %> - <a href="/users/<%=comment.commenter.id%>" %>><%= comment.commenter.username %></a></li>
          <% end %>
        </ol>
      <% end %>
    <% end %>
  </ol>
<%end%>