<center><h2><u><%=@user.username%>'s Questions</u></h2></center>
<div>

    <center><h3>Question Count: <%= @user.questions.length %></h3></center>

    <center><strong>Answer Count: <%= @user.answers.length %> </strong></center>

<center><h5>Member since <%= @user.created_at.to_date %></h5></center>
  <br>
  <div class="container">
  <% @user.questions.each do |question| %>
  <ul>
    <li><a href="/questions/<%=question.id%>"><%= question.title %></a></li>
  </ul>
  <% end %>
  </div>
</div>
