<center><h2><u>Questions</u></h2></center>
<div >
  
    <center><h3>Question Count: <%= @user.questions.length %></h3></center>
   
      <center><h4><% @user.questions.each do |question| %>
        <a  href="/questions/<%=question.id%>"><%= question.title %></a></h4></center>
      <% end %>
   
    <center><strong>Answer Count: <%= @user.answers.length %> </strong></center>
   

</div>

<center><h5>Member since <%= @user.created_at.to_date %></h5></center>