<center><h2><u><i class="fa fa-book" style="font-size:24px"></i> <%=@user.username%>'s Questions</u></h2></center>
<center><h4>Member since <%= @user.created_at.to_date %></h4></center>
<div>

	<center>------------------------------------------------------------------------</center>
    <center><h3>Amount of questions asked: <%= @user.questions.length %></h3></center>

    <center><strong>Amount of questions answered: <%= @user.answers.length %> </strong></center>
    <center><strong>Amount of comments left on questions: <%= @user.comments.length %> </strong></center>

	
	<center><u><h5>Questions asked:</h5></u></center>
      <% @user.questions.each do |question| %><center><p>
       
<a href="/questions/<%=question.id%>"<span>&#187;</span><%= question.title %></a>
      </p></center>
      <% end %>

</div>
